ol{
	
	font-family:Source Serif Pro Light;
	font-size:12.4px;
	color:white;
	margin-left: -663px
}

h2{
	font-family:Source Serif Pro Light;
	font-size:45px;
	color: black; text-shadow: black 0.1em 0.1em 0.2em
}

table{
	font-family: constantia;
  border-collapse: collapse
  background-color:red;
}

td{
  border: 1px solid black;
  padding: 10px;
  font-size:12px;
}

p{
	font-family: constantia;
	-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-image: -webkit-linear-gradient(#98FB98, #20B2AA, #3CB371,#006400, #556B2F, #8FBC8F);
}

h4{
	color:white;
	background-image: url("fondpanda.jpg")

}

iframe{
	max-width: 26%;
}

a{
	text-decoration: none;
	color:black;
}

a:hover{
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-image: -webkit-linear-gradient(#98FB98, #20B2AA, #3CB371,#006400, #556B2F, #8FBC8F);

}
ul {
  list-style-type: none;
}
ul li:before {
  content: "\2022";
  color: #12b000;
}
body{
	background-color:#e0e0e0;
}